html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

$primary: #0061F3;
$secondary: #F39200;
$header: #201E1E;
$text: #808080;
$white: #FFFFFF;
$grid-line: #EEEEEE;
$gray: #E5E5E5;
$button: #555555;

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Didot', sans-serif;
  color: $header;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p {
  font-family: 'DIN Alternate', sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 1.5rem;
  font-size: 16px;
  color: $text;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  width: 60px;
  height: calc(100vh - 6rem);
  top: 0;
  left: 0;
  padding: 3rem .5rem;
  border-right: 1px solid $gray;
  background: $white;
  z-index: 10000;

  .title {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%);

    p {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Didot', sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: $header;
      border-bottom: 2px solid $header;
      line-height: 110%;
      letter-spacing: 1.2px;
    }
  }

  #nav-hamburger {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    width: 28px;
    bottom: 50px;
    height: 19px;

    .nav__hamburger--1{
      position: absolute;
      top: 0;
      right: 0;
      width: 27px;
      height: 2px;
      background-color: $header;
    }

    .nav__hamburger--2 {
      position: absolute;
      top: 6px;
      right: 0;
      width: 27px;
      height: 2px;
      background-color: $header;
    }
    .nav__hamburger--3 {
      position: absolute;
      top: 12px;
      right: 0;
      width: 27px;
      height: 2px;
      background-color: $header;
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 76px;
  width: calc(100% - 76px);
  height: 100vh;
  transition: all 0.5s ease;
  z-index: -100;
  display: none;
}
.menu.active {
  display: flex;
  z-index: 9000;
}

.menu__title, .menu__menu {
  color: $white;
}

.menu__section {
  position: relative;
  left: 0;
  background-color: $header;
  border-right: 1px solid $button;
  width: 16.7%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms ease-in-out;
}

.menu__section:last-child {
  border-right: none;
}

.menu__section:last-child:hover {
  background-color: $header;
}

.menu__section:hover {
  background-color: #272525;
}

.menu__section:nth-child(6) {
  animation: slideDown 500ms cubic-bezier(.48,.69,.78,1.02);
}

.menu__section:nth-child(5) {
  animation: slideDown 450ms cubic-bezier(.48,.69,.78,1.02);
}

.menu__section:nth-child(4) {
  animation: slideDown 400ms cubic-bezier(.48,.69,.78,1.02);
}

.menu__section:nth-child(3) {
  animation: slideDown 350ms cubic-bezier(.48,.69,.78,1.02);
}

.menu__section:nth-child(2) {
  animation: slideDown 300ms cubic-bezier(.48,.69,.78,1.02);
}

.menu__section:nth-child(1) {
  animation: slideDown 250ms cubic-bezier(.48,.69,.78,1.02);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.menu__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu__menu {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-family: 'Didot', sans-serif;
  font-size: 80px;
  letter-spacing: 3rem;
  line-height: normal;
}

.menu__title {
  position: relative;
  margin-bottom: 120px;
  z-index: 2;
}

.menu__title::before {
  visibility: hidden;
  content: "";
  position: absolute;
  width: 0%;
  height: 24px;
  bottom: 0px;
  left: -8px;
  background-color: $button;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.menu__section:hover .menu__title::before {
  visibility: visible;
  width: 113%;
}

.nav-black {
  background-color: $header;
  border-right: 1px solid $button;
}

.bg-white {
  background-color: $white !important;
}

.white {
  color: $white !important;
}

.container-content {
  width: calc(100% - 77px);
  position: relative;
  left: 77px;
}

.container {
  width: calc(100% - 2rem);
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

.container--grid {
  max-width: 956px; 
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 800px;
  .header__img img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
  }
  .header__title {
    position: absolute;
    width: 45%;
    top: 10%;
    right: 0;
    padding: 0 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .header__title h1 {
    font-size: 63px;
  } 
}

@media screen and (max-width: 768px) {
  .header__title {
    width: 35% !important;
  }
  .header__title h1 {
    font-size: 48px;
  } 
}

@media screen and (max-width: 425px) {
  .header__title {
    display: none;
  }
  .header__img img {
    width: 100% !important;
  } 
}

#discover {
  width: 100%;
  margin-top: 30px;
  p {
    text-align: center;
    color: $header;
  }
}

.arrow {
  max-height: 20px;
  margin-top: 10px;
  line-height: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  content: "\279D";
  color: $header;
  transform: rotate(90deg);
}

.arrow::after {
  content: '\279D';
}
.arrow--white {
  position: relative;
  width: calc(100% - 420px);
  bottom: 55px;
  left: 420px;
  font-size: 2rem;
  color: $white;
  transform: rotate(0deg);
}

.service-description {
  position: relative;
  width: 100%;
  max-width: 536px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .service-description {
    margin: auto;
  }
  .service-description--middle, .service-description--right {
    left: 0% !important;
  }
  #realisation {
    left: 50% !important;
  }
}

@media screen and (max-width: 425px) {
  #realisation {
    left: 20% !important;
    padding-bottom: 100px !important;
  }
  #realisation h2 {
    font-size: 36px;
  }
  h2::before {
    top: 38px !important;
    width: 55px !important;
    left: -75px !important;
  }
  .card--right {
    left: 8% !important;
    top: 150px !important;
  }
  .contact-banner {
    margin-top: 290px !important;
  }
  .footer-info {
    flex-direction: column;
  }
  #service-banner .arrow--white {
    display: none;
  }
}

.service-description--middle {
  left: 50%;
}

.service-description--right {
  left: 65%;
}

#service-banner {
  position: relative;
  left: -1rem;
  margin: 80px 0;
  width: calc(100%  - 2rem);
  background-color: $header;
  padding: .5rem 2rem;
  h3 {
    text-align: center;
    color: $white;
  }
}

#realisation {
  position: relative;
  max-width: 300px;
  width: 100%;
  padding-bottom: 80px;
  left: 75%;
  h2::before {
  position: absolute;
  content: "";
  top: 45px;
  left: -85px;
  border-top: .1rem solid black;
  width: 70px;
  margin-right: 15px;
  transform: translateY(-.8rem);
  }
}

.contact-banner {
  margin-top: 160px;
  text-align: center;
  a {
    color: $primary;
    text-decoration: underline;
  }
}

.card {
  position: relative;
  margin: -100px 0;
  left: 8%;
  height: 430px;
  width: 300px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .15);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: background-color .6s, opacity .6s;
  &:hover {
    background-color: $header;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .3);
  }
  &:hover .card__img img {
    opacity: .55;
  }
  &:hover .card__info {
    display: flex;
  }
  .card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card__info {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateZ(35px);
    .card__info-title {
      h4 {
        color: $white;
        margin-bottom: 0;
      }
    }
    .card__info-description {
      p {
        color: $white;
        text-transform: uppercase;
      }
    }
    .card__info-discover {
      p {
        color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

.card--right {
  left: 58%;
}

footer {
  background-color: $header;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 1.2rem 4.5rem;
  h4, p, a {
    color: $white;
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    p {
      font-family: 'Didot', sans-serif;
      .footer-nd {
        text-transform: uppercase;
      } 
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .footer-info {
    display: flex;
    .footer-info__contact {
      margin-right: 70px;
      display: flex;
      flex-direction: column;
      h4 {
        margin-top: 0;
        margin-bottom: 1.4rem;
      }
      a {
        margin-bottom: 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer-info__social {
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      h4 {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      ul {
        display: flex;
        align-items: center;
        margin-top: 0;
        padding-left: 0;
        li {
          list-style: none;
          margin-right: 10px;
          .footer-logo {
            position: relative;
            bottom: 0;
            width: 40px;
            height: 40px;
            margin-right: 8px;
            filter: brightness(0) invert(1);
            transition: bottom .1s, filter .1s;
            &:hover {
              bottom: 3px;
              filter: brightness(0) invert(1) drop-shadow(0 8px 5px rgba(0, 0, 0, .8));
            };
          }
          .footer-logo--linkedin {
            width: 50px;
            height: 50px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  .footer-copyright, .footer-info {
    justify-content: center;
  }
}

.underline-gray {
  position: relative;
  z-index: 100;
  &:after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: 0;
    width: 100px;
    height: 15px;
    background-color: $button;
    z-index: -100;
  }
}
