html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

$primary: #0061F3;
$secondary: #F39200;
$header: #201E1E;
$text: #808080;
$white: #FBFBFB;
$grid-line: #EEEEEE;
$button: #555555;

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: 'Didot', sans-serif;
  color: $header;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p {
  font-family: 'DIN Alternate', sans-serif;
  letter-spacing: .5px;
  line-height: 1.5rem;
  font-size: 16px;
  color: $text;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: sticky;
  width: calc(100% - 6rem);
  height: 60px;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  #nav__title p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Didot', sans-serif;
    font-weight: 600;
    color: $header;
  }
  #nav__menu {
    position: absolute;
    right: 48px;
    cursor: pointer;
    top: 36px;
    width: 50px;
    height: 19px;
    .nav__hamburger::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 3px;
      background-color: $header;
    }
    .nav__hamburger--smaller::after { 
      top: 15px;
      width: 35px;
    }
  }
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-color: $white;
  .grid__container {
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 956px;
    width: 100%;
    .grid__line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $grid-line;
    }
    .grid__line:first-child {
      left: 0;
    }
    .grid__line:nth-child(2) {
      left: 25%;
    }
    .grid__line:nth-child(3) {
      left: 50%;
    }
    .grid__line:nth-child(4) {
      left: 75%;
    }
    .grid__line:last-child {
      right: 0;
    }
  }
}

.container {
  width: calc(100% - 2rem);
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

.container--grid {
  max-width: 956px; 
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 800px;
  .header__img img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
  }
  .header__title {
    position: absolute;
    width: 45%;
    top: 10%;
    right: 0;
    padding: 0 3rem;
  }
}

#discover {
  width: 100%;
  margin-top: 30px;
  p {
    text-align: center;
    color: $header;
  }
}

.arrow {
  max-height: 20px;
  margin-top: 10px;
  line-height: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  content: "\279D";
  color: var(--header);
  transform: rotate(90deg);
}

.arrow::after {
  content: '\279D';
}
.arrow--white {
  position: relative;
  width: calc(100% - 420px);
  bottom: 55px;
  left: 420px;
  font-size: 2rem;
  color: $white;
  transform: rotate(0deg);
}

.service-description {
  position: relative;
  width: 100%;
  max-width: 536px;
  padding-bottom: 80px;
}

.service-description--middle {
  left: 50%;
}

.service-description--right {
  left: 65%;
}

#service-banner {
  position: relative;
  left: -1rem;
  margin: 80px 0;
  width: calc(100%  - 2rem);
  background-color: $header;
  padding: .5rem 2rem;
  h3 {
    text-align: center;
    color: $white;
  }
}

#realisation {
  position: relative;
  max-width: 300px;
  width: 100%;
  padding-bottom: 80px;
  left: 75%;
  h2::before {
  position: absolute;
  content: "";
  top: 45px;
  left: -85px;
  border-top: .1rem solid black;
  width: 70px;
  margin-right: 15px;
  transform: translateY(-.8rem);
  }
}

.contact-banner {
  margin-top: 160px;
  text-align: center;
  a {
    color: $primary;
    text-decoration: underline;
  }
}

.card {
  position: relative;
  margin: -100px 0;
  left: 8%;
  height: 430px;
  width: 300px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, .15);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: background-color .6s, opacity .6s;
  &:hover {
    background-color: $header;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .3);
  }
  &:hover .card__img img {
    opacity: .55;
  }
  &:hover .card__info {
    display: flex;
  }
  .card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card__info {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateZ(35px);
    .card__info-title {
      h4 {
        color: $white;
        margin-bottom: 0;
      }
    }
    .card__info-description {
      p {
        color: $white;
        text-transform: uppercase;
      }
    }
    .card__info-discover {
      p {
        color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

.card--right {
  left: 58%;
}

footer {
  background-color: $header;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 1.2rem 4.5rem;
  h4, p, a {
    color: $white;
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    p {
      font-family: 'Didot', sans-serif;
      .footer-nd {
        text-transform: uppercase;
      } 
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .footer-info {
    display: flex;
    .footer-info__contact {
      margin-right: 70px;
      display: flex;
      flex-direction: column;
      h4 {
        margin-top: 0;
        margin-bottom: 1.4rem;
      }
      a {
        margin-bottom: 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer-info__social {
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      h4 {
        margin-top: 0;
        margin-bottom: 1rem;
      }
      ul {
        display: flex;
        align-items: center;
        margin-top: 0;
        padding-left: 0;
        li {
          list-style: none;
          margin-right: 10px;
          .footer-logo {
            position: relative;
            bottom: 0;
            width: 40px;
            height: 40px;
            margin-right: 8px;
            filter: brightness(0) invert(1);
            transition: bottom .2s, filter .2s;
            &:hover {
              bottom: 3px;
              filter: brightness(0) invert(1) drop-shadow(0 8px 5px rgba(0, 0, 0, .8));
            };
          }
          .footer-logo--linkedin {
            width: 50px;
            height: 50px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.underline-gray {
  position: relative;
  z-index: 100;
  &:after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: 0;
    width: 100px;
    height: 15px;
    background-color: $button;
    z-index: -100;
  }
}

.btn {
  padding: 8px 16px;
  background-color: $header;
  color: $white;
}