html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

$primary: #0061F3;
$secondary: #F39200;
$header: #201E1E;
$text: #808080;
$white: #FBFBFB;
$grid-line: #EEEEEE;
$button: #555555;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didot', sans-serif;
  color: $header;
}

p {
  font-family: 'DIN Alternate', sans-serif;
  letter-spacing: .5px;
  line-height: 1.5rem;
  font-size: 16px;
  color: $text;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: sticky;
  width: calc(100% - 32px);
  top: 0;
  left: 0;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-color: $white;
  .grid__container {
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 956px;
    width: 100%;
    .grid__line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background-color: $grid-line;
    }
    .grid__line:first-child {
      left: 0;
    }
    .grid__line:nth-child(2) {
      left: 25%;
    }
    .grid__line:nth-child(3) {
      left: 50%;
    }
    .grid__line:nth-child(4) {
      left: 75%;
    }
    .grid__line:last-child {
      right: 0;
    }
  }
}
